/* layout */
.form-inline .form-group {
    vertical-align: top;
}

.buffer-top-xs {
    margin-top: 5px;
}

.section {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
}

/* elements */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

td, th {
    padding: 5px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/* app */
.statements {
    display: flex;
    flex-wrap: wrap;
}
.statement {
    margin-right: 10px;
}

/* ng-sortable overrides */
tr.as-sortable-item, tr.as-sortable-placeholder {
    display: table-row !important;
}