<!DOCTYPE html>
<html ng-app="app">
    <head>
        <!--styles-->
        <link rel="stylesheet" href="app/css/main.css" />
        <!--scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <!--app-->
        <script src="app/js/app.module.js"></script>
        <!--models-->
        <script src="app/js/models/calculator.js"></script>
        <script src="app/js/models/comparison.js"></script>
        <script src="app/js/models/month.js"></script>
        <script src="app/js/models/mortgage.js"></script>
        <!--services-->
        <script src="app/js/services/calculation.service.js"></script>
        <!--controllers-->
        <script src="app/js/controllers/calculation.controller.js"></script>
    </head>
    <body>
        <div ng-controller="CalculationController">
            <section>
                Balance
                <input id="starting-balance" type="number" ng-model="model.balance" ng-required="true" />
            </section>

            <section>
                <div>
                    <a href="#" ng-click="actions.addComparison()">Add comparison</a>
                </div>
                <table class="inline-table" ng-repeat="comparison in model.comparisons">
                    <thead>
                        <tr>
                            <th>APR</th>
                            <th>Term</th>
                            <th>Fee</th>
                            <th>Include fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mortgage in comparison.mortgages">
                            <td>{{mortgage.apr}}%</td>
                            <td>{{mortgage.term}}</td>
                            <td>{{mortgage.fee}}</td>
                            <td>{{mortgage.includeFee}}</td>
                        </tr>
                    </tbody>
                    <tfoot ng-form="newMortgageForm">
                        <tr>
                            <td><input type="number" class="sm" ng-model="comparison.newMortgage.apr" ng-required="true" />%</td>
                            <td><input type="number" class="sm" ng-model="comparison.newMortgage.term" ng-required="true" /></td>
                            <td><input type="number" class="sm" ng-model="comparison.newMortgage.fee" /></td>
                            <td><input type="checkbox" ng-model="comparison.newMortgage.includeFee" /></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <a href="#" type="submit" ng-click="actions.addMortgage(comparison)">Add mortgage</a>
                                <span ng-show="comparison.submitCount > 0 && newMortgageForm.$invalid">Error</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </section>

            <section>
                <button ng-click="actions.calculate()">Calculate</button>

                {{ model.comparisonStatements | json }}
            </section>
        </div>
    </body>
</html>