<!DOCTYPE html>
<html ng-app="app">
    <head>
        <!--styles-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="app/css/main.css" />
        <!--scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <!--app-->
        <script src="app/js/app.module.js"></script>
        <!--models-->
        <script src="app/js/models/calculator.js"></script>
        <script src="app/js/models/comparison.js"></script>
        <script src="app/js/models/month.js"></script>
        <script src="app/js/models/mortgage.js"></script>
        <!--services-->
        <script src="app/js/services/calculation.service.js"></script>
        <!--controllers-->
        <script src="app/js/controllers/calculation.controller.js"></script>
    </head>
    <body>
        <header>

        </header>
        <div class="container" ng-controller="CalculationController">
            <div class="row form-inline">
                <fieldset>
                    <div class="form-group">
                        <label for="starting-balance">Balance</label>
                        <input id="starting-balance" type="number" class="form-control" ng-model="model.balance" ng-required="true" />
                    </div>
                    <div class="form-group">
                        <label for="monthly-payment">Monthly payment</label>
                        <input id="monthly-payment" type="number" class="form-control" ng-model="model.monthlyPayment" ng-required="true" />
                    </div>
                    <div class="form-group">
                        <label for="months">Months</label>
                        <input id="months" type="number" class="form-control" ng-model="model.duration" ng-required="true" />
                    </div>
                </fieldset>
            </div>

            <div class="row">
                <fieldset>
                    <div>
                        <a href="#" ng-click="actions.addComparison()">Add comparison</a>
                    </div>
                    <table class="comparison pull-left" ng-repeat="comparison in model.comparisons">
                        <thead>
                            <tr>
                                <th>APR</th>
                                <th>Term</th>
                                <th>Fee</th>
                                <th>Include fee</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mortgage in comparison.mortgages">
                                <td>{{mortgage.apr}}%</td>
                                <td>{{mortgage.term}}</td>
                                <td>{{mortgage.fee}}</td>
                                <td>{{mortgage.includeFee}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-form="newMortgageForm">
                            <tr>
                                <td><input type="number" class="form-control sm" placeholder="%" ng-model="comparison.newMortgage.apr" ng-required="true" /></td>
                                <td><input type="number" class="form-control sm" ng-model="comparison.newMortgage.term" ng-required="true" /></td>
                                <td><input type="number" class="form-control sm" ng-model="comparison.newMortgage.fee" /></td>
                                <td><input type="checkbox" class="checkbox" ng-model="comparison.newMortgage.includeFee" /></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <a href="#" ng-click="actions.addMortgage(comparison)">Add mortgage</a>
                                    <span ng-show="comparison.submitCount > 0 && newMortgageForm.$invalid">Error</span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </fieldset>
            </div>
            <div class="row">
                <div class="form-group">
                    <button class="btn btn-default" ng-click="actions.calculate()">Calculate</button>
                </div>
            </div>
            <div>
            </div>
            <pre>
                {{ model.comparisonStatements | json }}
            </pre>
        </div>
    </body>
</html>