/* layout */
fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}

.row {
    margin-bottom: 20px;
}
/* elements */
input.sm {
    width: 100px;
}

/* app */
.comparison {
    padding-right: 20px;
}