/* layout */
.form-inline .form-group {
    vertical-align: top;
}

.buffer-top-xs {
    margin-top: 5px;
}

.section {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
}

/* elements */
input.sm {
    padding: 5px;
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* app */
.comparisons {
    display: flex;
    flex-wrap: wrap;
}
.comparison {
    background-color: #E6E8EC;
    float: left; /*fallback for flex*/
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
}
.comparison td, .comparison th {
    padding: 5px;
}